@page "/gallery"
@inject IHamsterService _hamster
@inject NavigationManager _nav

<div class="gallery-top">
    <h2>Hamsters</h2>
    <button class="btn btn-primary" @onclick="AddHamster">Add hamster</button>
</div>
<div class="hamster-container">
        @foreach (var hamster in _hamster.Hamsters)
        {
           <div class="hamster-item">
           <img src="@hamster.ImgName" alt="@hamster.Name">
           <p>@hamster.Name</p>     
           <button class="btn btn-primary" @onclick="(() => ShowHamster(hamster.Id))"><i class="oi oi-pencil"></i></button>
           </div> 
            
        }
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await _hamster.GetHamsters();
    }

    void ShowHamster(int id)
    {
        _nav.NavigateTo($"hamster/{id}");
    }

    void AddHamster()
    {
        _nav.NavigateTo("/hamster");
    }

}
