@page "/hamster"
@inject IHamsterService _hamster
@inject NavigationManager _nav
@inject HttpClient _http
@using System.IO

<h3>Add hamster</h3>

<EditForm Model = "hamster" OnSubmit="HandleSubmit">
    <div>
        <label for="name">Name</label>
        <InputText id="name" @bind-Value="hamster.Name" class="form-control"></InputText>
    </div>
    <div>
        <label for="age">Age</label>
        <InputNumber id="age" @bind-Value="hamster.Age" class="form-control"></InputNumber>
    </div>
    <div>
        <label for="favfood">Favourite food</label>
        <InputText id="favfood" @bind-Value="hamster.FavFood" class="form-control"></InputText>
    </div>
    <div>
        <label for="favthing">Favourite thing</label>
        <InputText id="favthing" @bind-Value="hamster.FavThing" class="form-control"></InputText>
    </div>
    <div>
        <label for="image">Image</label>
          <InputFile OnChange="@LoadFile" @bind-Value="hamster.ImgName" accept=".png,.jpg,.jpeg"></InputFile> 
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save hamster</button>
    


</EditForm>

@code {
    [Parameter]
    public int? Id { get; set; }

    Hamster hamster = new Hamster();

    IBrowserFile pendingFile;
    private string? fileName;

    void LoadFile(InputFileChangeEventArgs e)
    {
        pendingFile = e.File;
        fileName = e.File.Name;
    }

    async Task SaveFile()
    {
        Stream stream = pendingFile.OpenReadStream();
        MemoryStream ms = new MemoryStream();
        await stream.CopyToAsync(ms);
        stream.Close();

        UploadedFile uploadedFile = new UploadedFile();
        var storedFileName = string.Format(@"{0}.jpg", Guid.NewGuid());
        uploadedFile.FileName = storedFileName;
        uploadedFile.FileContent = ms.ToArray();

        await _http.PostAsJsonAsync<UploadedFile>("/api/fileupload", uploadedFile);
    }


    async Task HandleSubmit()
    {
        await SaveFile();
        await _hamster.AddHamster(hamster);
        
        _nav.NavigateTo("gallery");
    }

}
