@page "/history"
@inject IBattleService _battle
@inject NavigationManager _nav

<PageTitle>Battle history</PageTitle>
@if (_battle.Fighters.Count == 0)
{
    <h2>No history yet.</h2>
}

<div class="battle-list">

    @foreach (var battle in _battle.Fighters)
    {
        <div class="battle-item">
            <h4 class="@(battle.WinStatus == "Winner" ? "winner" : "loser")">@battle.WinStatus</h4>
            <p>@battle.HamsterName</p>    
                @if (battle.WinStatus == "Winner")
                {
                  <AuthorizeView Roles="Admin">
                      <Authorized>
                        <button type="button" class="btn btn-danger" @onclick="(() => RemoveGame(battle.GameId))">x</button>  
                      </Authorized>
                  </AuthorizeView>
                }   
       </div>
    }
</div>

@code {
   
    protected override async Task OnInitializedAsync()
    {
        await _battle.BattleHistory();
    }
    
    async Task RemoveGame(int id)
    {
        await _battle.DeleteGame(id);
        _nav.NavigateTo("/history", true);
    }
}
