@page "/statistics"
@inject IBattleService _battle

<PageTitle>Statistics</PageTitle>

<div class="battle-container">
    <div class="one-hamster-container">
        <h2>Top list</h2>
        @foreach (var hamster in _battle.PercentWin)
        {
            <div class="hamster-item">
                <img src="@hamster.ImgName" alt="@hamster.Name">
                <p>@hamster.Name</p>
                <p>Wins: @hamster.WinPercentRate%</p>
            </div>
        }
    </div>
</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        await _battle.TopFive();
      
    }

}